
/* header */

header {
        position: fixed;
        z-index: 100;
        height: 5rem;
        width: 100%;
        border: 0.5px solid transparent;
        background-color:rgb(234, 237, 239);
}

main {
      position: relative;
      top: 5rem;
      margin-bottom: 5rem;
}

#navigation {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#logoNav {
    margin-left: 0.7rem;
}

#logoNav img {
    width: 3.5rem;
    cursor: pointer;
    height: auto;
}

#logoNav img :hover{
    box-shadow: 0 0 20px rgba(72, 21, 123, 0.984);
}

#menuNav {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

#menuNav select {
    display: none;
}

#menu {
    display: flex;
    word-wrap: break-word;
}

#menu li {
    margin-right: 3rem;
    text-align: center;
    white-space: nowrap;
}

#menu li a{
    font-size: 1.5rem;
    font-family: 'Bebas Neue', cursive;
    text-
}

#menu li a img {
    display: hidden;
}

#menu li a:hover {
    color:rgb(90, 79, 219);
}

/* header media queries */

@media only screen and (max-width: 470px){
   
    .menuli {
        display: none;
    }

    #menu li {
        margin-right: 1rem;
    }

   #contactbutton {
       background-color: black;
       border-radius: 0.5rem;
       padding: 0.5rem;
   }
   
   #contactbutton a{
       color:white;
   }

   #contactbutton:hover {
      background-color:darkgrey;
   }
}




#banner {
    background-image: url("./pexels-nemuel-sereti.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 40rem;
    width: 100%;
    display: flex;
}

#banner span {
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 8rem;
    background-image: linear-gradient(black, transparent);
    padding-left: 4rem;
    padding-top: 14rem;
    width: 100%;
}

@media only screen and (max-width: 550px){
    #banner span {
        text-align: center;
        padding-top: 3rem;
        font-size: 6rem;
        padding-left: 0rem;
    }
}



.whitespace {
    width: 100%;
    height: 2rem;
    color: white;
}


/* About Me Section */

#aboutMe {
    width: 100%;
    background-color:rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: hidden;
}

.title {
    margin: 2rem;
    text-align: start;
    font-size: 4rem;
    font-family: 'Bebas Neue', cursive;
    color: white;
}

.description {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 2rem;
}
#myDescription {
    background-color: white;
    border-radius: 0.5rem;
    width: 70%;
    height: auto;
    box-shadow: 0 0 200px rgba(48, 107, 250, 0.76);
}    

#myDescription p {
    margin: 1.5rem;
    font-family: 'Anek Tamil', sans-serif;
    font-size: 1.5rem;
}

#myImage img {
    width: 18rem;
    height: auto;
    border-radius: 0.5rem;
    margin: 2rem;
}

@media only screen and (max-width:700px){
    .description {
        flex-direction: column;
    }
    #myImage img {
        width: 14rem;
        margin: 0.5rem 1rem 1rem 1rem;
    }
    #myDescription {
        width: 80%;
        margin: 0 1rem;
    }
    #myDescription p {
        margin: 0.5rem;
        font-size: 1rem;
    }
 }
 @media only screen and (min-width: 700px) and (max-width: 1250px){
    .description {
        flex-direction: column;
    }
    #myImage img {
        width: 16rem;
        margin-top: 0.7rem;
        margin-bottom: 1.2rem;
    }
    #myDescription {
        width: 85%;
    }
    #myDescription p{
       margin: 0.7rem;
       font-size: 1.2rem;
    }

 }


/* Skills section */

#skills {
    background-color: black;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: hidden;
}

.logoskill {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.imagecontainer {
    height:5rem;
    text-align:center;
    margin: 2rem;
    
}

.imagecontainer img {
    height: 100%;
}

@media only screen and (max-width:400px) {
    .imagecontainer {
       margin: 0.9rem;    
    }
}



/* Projects section */

#projects {
    background-color: black;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: hidden;
}

.showprojects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.tasks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 25%;
    padding: 1rem;
    box-shadow: 0 0 200px rgba(48, 107, 250, 0.76);
    border-radius: 0.5rem;
    overflow: hidden;
}

.felogo {
    height: 10rem;
    margin: 1rem;
}

.felogo img{
    height: 100%
}


.tasks p {
    color: white;
    font-size: 2rem;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    margin: 1rem;
    border-radius: 0.2rem;
    padding: 0.5rem;
}

.tasks a span {
    color: white; 
    font-size: 1.5rem;
    font-family: 'Bebas Neue', cursive;
}

.button {
    border-radius: 0.3rem;
    border: 1px solid transparent;
    background-color:rgba(51, 88, 176, 0.76);
    padding: 0.5rem;
}

.button:hover {
    background-color:rgb(235, 155, 17);
}

@media only screen /*and (min-width:978px)*/ and (max-width:1165px){
    .showprojects {
        flex-direction: column;
    }
    .tasks {
        flex-direction: row;
        width: 60%;
        margin: 1rem;
    }
    .felogo {
        height: 10rem;
    }
}


/* footer design */

#footer {
    width:100%;
    background-color: black; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#leftfooter {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
    justify-content: end;
    padding: 1rem;
}

#rightfooter {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;    
    justify-content: space-between;
    padding: 1rem;
}

#leftfooter span {
    color: white;
   font-size: 1.2rem;
   font-family: 'Bebas Neue', cursive;
}

#rightfooter a {
    height: 2.5rem;
}

#rightfooter img {
    height: 100%;
}


@media only screen and (max-width:700px){
    .title {
          margin: 1rem;
          font-size: 3rem;
    }
}

@media only screen and (max-width: 750px){
    #leftfooter span {
        font-size: 0.8rem;
    }

    #rightfooter a {
        height: 1.9rem;
    }
}